################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Debug/net6.0-windows
/FontViewer.csproj.user
/bin
/FontViewer.Setup/Debug
/obj
/FontViewer.Setup/Release
